.notes {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notes h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    
}

.note-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.note-form input,
.note-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.note-form .add-note-btn {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.note-form .add-note-btn:hover {
    background-color: #2980b9;
}

.note-list {
    list-style: none;
    padding: 0;
}

.note-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.note-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.note-item h4 {
    margin: 0 0 5px 0;
    color: #333;
}

.note-item p {
    margin: 0;
    color: #555;
}

.note-item .delete-note-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.note-item .delete-note-btn:hover {
    background-color: #c0392b;
}
